In [1]:
import pandas as pd
from indicator import AddIndicators
from get_data import DataReadYfinance
from strategy import TradingStrategy

# Receive Data From YahooFinance

In [2]:
data_api = DataReadYfinance()
data_api.get_data(symbol="TSLA", time_frame="15m", duration="60d")
data_api.data

[*********************100%***********************]  1 of 1 completed

                    Date        Open        High         Low       Close
0    2023-02-06 09:30:00  195.000000  198.169998  193.770004  195.704803
1    2023-02-06 09:45:00  195.702896  196.910004  193.009995  195.330002
2    2023-02-06 10:00:00  195.350006  196.490005  193.580002  194.830093
3    2023-02-06 10:15:00  194.880005  194.910004  191.520004  192.585007
4    2023-02-06 10:30:00  192.595001  192.699997  189.919998  192.029999
...                  ...         ...         ...         ...         ...
1555 2023-05-02 14:45:00  160.190002  160.630005  160.050095  160.550003
1556 2023-05-02 15:00:00  160.548203  161.070007  160.051605  160.649994
1557 2023-05-02 15:15:00  160.715500  160.820007  159.869995  159.970001
1558 2023-05-02 15:30:00  159.979996  159.979996  158.929993  159.400894
1559 2023-05-02 15:45:00  159.410095  160.619995  159.139999  160.259995

[1560 rows x 5 columns]

# Add Indicators

In [3]:
data = AddIndicators(data_api.data,"RSI")
data.df

,Date,Open,High,Low,Close,RSI
0,2023-02-06 09:30:00,195.000000,198.169998,193.770004,195.704803,NaN
1,2023-02-06 09:45:00,195.702896,196.910004,193.009995,195.330002,NaN
2,2023-02-06 10:00:00,195.350006,196.490005,193.580002,194.830093,NaN
3,2023-02-06 10:15:00,194.880005,194.910004,191.520004,192.585007,NaN
4,2023-02-06 10:30:00,192.595001,192.699997,189.919998,192.029999,NaN
...,...,...,...,...,...,...
1555,2023-05-02 14:45:00,160.190002,160.630005,160.050095,160.550003,42.954630
1556,2023-05-02 15:00:00,160.548203,161.070007,160.051605,160.649994,43.853702
1557,2023-05-02 15:15:00,160.715500,160.820007,159.869995,159.970001,39.315661
1558,2023-05-02 15:30:00,159.979996,159.979996,158.929993,159.400894,35.961568
1559,2023-05-02 15:45:00,159.410095,160.619995,159.139999,160.259995,43.761296

# Implementing Strategy

In [4]:
strategy = TradingStrategy(data.df, "RSI-30buy-50sell")

Entered to a Buy Position at: 2023-02-10 09:30:00 and at price: 201.02000427246094                                                                    and at RSI Value of 29.859557440612114
Exited from Position at 2023-02-13 15:15:00 and at price: 194.83909606933594                                                                             and at RSI Value of 50.187777313552274
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-02-16 15:15:00 and at price: 204.80499267578125                                                                    and at RSI Value of 26.11909573479066
Exited from Position at 2023-02-17 14:15:00 and at price: 204.93629455566406                                                                             and at RSI Value of 54.43451172168005
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-02-22 10:00:00 and at price: 193.1699981689453                                                                    and at RSI Value of 24.990814200425394
Exited from Position at 2023-02-22 12:30:00 and at price: 199.64149475097656                                                                             and at RSI Value of 55.419141994797634
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-01 10:00:00 and at price: 199.82000732421875                                                                    and at RSI Value of 25.764668871399724
Exited from Position at 2023-03-01 15:00:00 and at price: 203.02049255371094                                                                             and at RSI Value of 52.703901541702564
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-02 09:30:00 and at price: 189.63999938964844                                                                    and at RSI Value of 17.856833970576385
Exited from Position at 2023-03-03 09:30:00 and at price: 194.69000244140625                                                                             and at RSI Value of 61.464327316928625
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-07 09:45:00 and at price: 190.0572967529297                                                                    and at RSI Value of 27.307038680785016
Exited from Position at 2023-03-07 12:30:00 and at price: 192.67999267578125                                                                             and at RSI Value of 52.55141274488903
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-08 09:30:00 and at price: 182.3800048828125                                                                    and at RSI Value of 23.931887781691042
Exited from Position at 2023-03-09 09:30:00 and at price: 183.82000732421875                                                                             and at RSI Value of 55.484336273096226
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-09 13:30:00 and at price: 177.35000610351562                                                                    and at RSI Value of 29.925272232239653
Exited from Position at 2023-03-10 10:45:00 and at price: 176.77999877929688                                                                             and at RSI Value of 50.82005978631692
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-13 09:30:00 and at price: 165.1300048828125                                                                    and at RSI Value of 24.507874837017024
Exited from Position at 2023-03-13 11:15:00 and at price: 172.72999572753906                                                                             and at RSI Value of 50.71545190497172
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-17 10:30:00 and at price: 178.6999969482422                                                                    and at RSI Value of 29.622946743934126
Exited from Position at 2023-03-20 09:45:00 and at price: 180.3350067138672                                                                             and at RSI Value of 51.09482103714816
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-23 14:30:00 and at price: 188.75                                                                    and at RSI Value of 26.59695716663238
Exited from Position at 2023-03-24 14:15:00 and at price: 190.2884979248047                                                                             and at RSI Value of 50.966413771107476
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-03-28 12:45:00 and at price: 185.9499969482422                                                                    and at RSI Value of 28.745377498420723
Exited from Position at 2023-03-28 15:30:00 and at price: 188.8800048828125                                                                             and at RSI Value of 52.44533931707133
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-03 10:00:00 and at price: 196.1800994873047                                                                    and at RSI Value of 28.073510270817263
Exited from Position at 2023-04-04 10:00:00 and at price: 195.86509704589844                                                                             and at RSI Value of 51.5809210739184
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-05 10:15:00 and at price: 187.30389404296875                                                                    and at RSI Value of 29.0438390215306
Exited from Position at 2023-04-06 12:00:00 and at price: 185.23219299316406                                                                             and at RSI Value of 50.82698474468072
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-10 09:30:00 and at price: 177.36500549316406                                                                    and at RSI Value of 22.177856137344946
Exited from Position at 2023-04-10 11:30:00 and at price: 182.41140747070312                                                                             and at RSI Value of 50.39197632678151
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-12 15:00:00 and at price: 180.92820739746094                                                                    and at RSI Value of 29.68743200054394
Exited from Position at 2023-04-13 09:45:00 and at price: 183.74490356445312                                                                             and at RSI Value of 52.44542346518651
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-19 09:30:00 and at price: 179.52000427246094                                                                    and at RSI Value of 22.422967146306163
Exited from Position at 2023-04-19 14:15:00 and at price: 182.92999267578125                                                                             and at RSI Value of 52.92811209065712
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-20 09:30:00 and at price: 168.7050018310547                                                                    and at RSI Value of 12.15460611964776
Exited from Position at 2023-04-21 11:45:00 and at price: 165.1699981689453                                                                             and at RSI Value of 51.80853312384135
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-24 10:15:00 and at price: 161.97000122070312                                                                    and at RSI Value of 28.97881585832995
Exited from Position at 2023-04-24 14:45:00 and at price: 161.72999572753906                                                                             and at RSI Value of 50.033905455110606
**************** WAITING FOR THE NEXT POSITION ******************

Entered to a Buy Position at: 2023-04-26 09:30:00 and at price: 158.70899963378906                                                                    and at RSI Value of 25.88832588743684
Exited from Position at 2023-04-27 11:00:00 and at price: 156.5135040283203                                                                             and at RSI Value of 53.01804952119289
**************** WAITING FOR THE NEXT POSITION ******************